<ion-view view-title="Messagerie">
  <ion-content class="padding">
    <div class="card" ng-if="messages.length !== 0">
      <ion-list class="list-positive">
        <div class="item item-divider">
          Messages reçus
        </div>
        <ion-item ng-repeat="message in messages" class="item" ui-sref="tab.menuMessages.message({id: message.id})">
          {{message.sendDate | date:'dd/MM/yyyy'}}, <b>{{message.from}}</b>
        </ion-item>
      </ion-list>
    </div>
    <div ng-if="messages.length === 0" id="no-message" class="text-center padding">
      Aucun message reçu !
    </div>
  </ion-content>
</ion-view>
