<ion-view view-title="Nouveau message">
  <ion-content class="padding">

    <form name="messageForm" ng-submit="sendMessage(messageForm)" class="list card no-margin">
      <label class="item item-input" id="to">
        <span class="input-label">A : </span>
        <input type="text" value="{{owner}}" disabled>
      </label>

      <ion-input class="item item-input item-stacked-label" >
        <textarea rows="10" ng-model="data.message"></textarea>
      </ion-input>
      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive button-block" value="Envoyer"/>
      </ion-input>
    </form>
  </ion-content>
</ion-view>
