<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="tab-menuMessaging"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-positive">
      <h1 class="title">Messages</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="list-positive">
        <div class="item item-divider item-positive">
          Messages reçus
        </div>
        <ion-item ng-repeat="message in messages" class="item" menu-close ui-sref="tab.menuMessages.message({id: message.id})">
          {{message.sendDate | date:'dd/MM/yyyy'}}<br>
          {{message.from}}
        </ion-item>
        <div ng-if="messages === null" class="text-center padding">
          Pas de message reçu
        </div>
        <div class="item item-divider item-positive">
          Messages envoyés
        </div>
        <ion-item ng-repeat="sendMessage in sendMessages" class="item" menu-close ui-sref="tab.menuMessages.message({id: sendMessage.id})">
          {{sendMessage.sendDate | date:'dd/MM/yyyy'}}<br>
          A {{sendMessage.to}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
