<ion-view view-title="Message">
  <ion-content class="padding">
    <div class="item item-list small" ng-click="goBack()">
      <i class="ion-arrow-left-c"></i> Liste des messages reçus
    </div>
    <div class="card" ng-show="!currentUserIsSender">
      <div class="item item-divider">
        {{message.sendDate | date:'dd/MM/yyyy'}}, {{message.from}}
      </div>
      <div class="item item-text-wrap">
        {{message.message}}
      </div>
      <div class="item item-divider text-center">
        <a class="button button-positive button-block" ui-sref="tab.menuMessages.newMessage({owner: message.from})">Répondre</a>
      </div>
    </div>
    <div class="card" ng-show="currentUserIsSender">
      <div class="item item-divider">
        {{message.sendDate | date:'dd/MM/yyyy'}}, à {{message.to}}
      </div>
      <div class="item item-text-wrap">
        {{message.message}}
      </div>
      <div class="item item-divider text-center">
        <a class="button button-positive button-block" ui-sref="tab.menuMessages.newMessage({owner: message.to})">Envoyer un nouveau message</a>
      </div>
    </div>
  </ion-content>
</ion-view>
