<ion-view>
  <ion-content>
    <div id="bandeau-home" class="bar-header row">
      <div class="col col-25 item-small-image">
        <img src="img/little-cat.png" class="">
      </div>
      <div class="col col-75">
        <h1>Ajouter une annonce</h1>
      </div>
    </div>
    <form novalidate name="addAdvertForm" class="list card no-margin">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Localisation</span>
        <input type="hidden" ng-model="data.lat">
        <input type="hidden" ng-model="data.lng">
        <input type="text" ng-value="location.postalCode" placeholder="Code postal" id="zip_code" ng-required="true"/>
        <input type="text" ng-value="location.city" placeholder="Ville" id="city" ng-required="true"/>
        <div id="map"></div>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Date de naissance</span>
        <input type="date" ng-model="data.birthday" ng-required="true"/>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Sexe</span>
        <ion-list>
          <ion-radio ng-model="data.sex" ng-value="'male'" ng-required="true"><i class="icon ion-male"></i> Mâle</ion-radio>
          <ion-radio ng-model="data.sex" ng-value="'female'" ng-required="true"><i class="icon ion-female"></i> Femelle</ion-radio>
        </ion-list>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Le chat est-il ?</span>
        <ion-list>
          <ion-checkbox ng-model="data.tattooed" ng-value="'vaccinated'">Tatoué ou pucé</ion-checkbox>
          <ion-checkbox ng-model="data.vaccinated" ng-value="'tattooed'">Vacciné</ion-checkbox>
        </ion-list>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Quelques mots...</span>
        <textarea name="description" placeholder="Décrivez en quelques mots le chat" ng-model="data.description" rows="5"></textarea>
      </label>
      <div class="row">
        <div class="col col-75">
          <img ng-show="image !== null" ng-src="{{pathForImage(image)}}">
          <img ng-show="image === null" ng-src="img/little-cat.png" class="example-image">
        </div>
        <div class="col col-25">
          <button class="button button-positive" ng-click="takePicture()"><i class="ion-ios-camera"></i></button>
          <button class="button button-positive" ng-click="uploadPicture()"><i class="ion-upload"></i></button>
        </div>
        <input type="hidden" ng-value="{{imgURI}}" required>
      </div>
      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive button-block" value="Publier l'annonce" ng-click="addAdvert()" />
      </ion-input>
    </form>
  </ion-content>
</ion-view>
