<ion-view>
  <ion-content>
    <div id="bandeau-home" class="bar-header row">
      <div class="col col-25 item-small-image">
        <img src="img/little-cat.png" class="">
      </div>
      <div class="col col-75">
        <h1>Les annonces</h1>
      </div>
    </div>
  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-bottom secundary tabs-color-active-positive">

    <ion-tab title="Annonces" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" ui-sref="tab.tabAdverts.listAdverts"  ui-sref-opts="{reload: true}">
      <ion-nav-view name="tab-listAdverts" cache-view="false"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Favoris" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" ui-sref="tab.tabAdverts.favorites">
      <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Critères" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" ui-sref="tab.tabAdverts.criteria">
      <ion-nav-view name="tab-criteria"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
