<ion-view>
  <ion-content overflow-scroll="true" class="padding sec-tabs-view">
    <div class="item-divider item">
      Critères de recherche
    </div>
    <div class="item item-text-wrap">
      <div class="list">
        <div class="item">
          Secteur géographique : {{criteria.distance}} km <br/>
          autour de {{location.city}}
          <div class="range">
            <i class="icon ion-android-pin"></i>
            <input type="range" ng-model="criteria.distance" name="distance">
            <i class="icon ion-android-locate"></i>
          </div>
        </div>
        <div class="item">
          Age maximum de l'animal : {{criteria.ageMax}} mois
          <div class="range">
            <i class="icon small-cat"></i>
            <input type="range" ng-model="criteria.ageMax" name="age" min="3" max= "36">
            <i class="icon big-cat"></i>
          </div>
        </div>
        <ion-list class="item">
          <ion-radio ng-model="criteria.sex" ng-value="'male'"><i class="icon ion-male"></i> Mâle</ion-radio>
          <ion-radio ng-model="criteria.sex" ng-value="'female'"><i class="icon ion-female"></i> Femelle</ion-radio>
        </ion-list>
        <ion-checkbox ng-model="criteria.tattooed">Tatoué/pucé</ion-checkbox>
        <ion-checkbox ng-model="criteria.vaccinated">Vacciné</ion-checkbox>
      </div>
    </div>
  </ion-content>
</ion-view>
