<ion-view>
  <ion-content scroll="false"  class="sec-tabs-view">
    <div class="item-divider item">
      {{title}}
    </div>
    <td-cards ng-show="!noCards">
      <div class="btn-rounded sweap-btn sweap-btn-left" ng-if="title == 'Annonces'"><< <i class="ion-star"></i></div>
      <div class="btn-rounded sweap-btn sweap-btn-right"><img ng-src="img/icons/cat-icon-delete.png"> >></div>
      <td-card ng-repeat="card in cards track by $index" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft(card.id)" on-swipe-right="cardSwipedRight($index)" class="padding">
        <img ng-src="{{card.image}}">
        <div class="pull-right">
          <span><i class="icon ion-{{card.sex}}"></i></span>
          <span ng-if="card.vaccinated == 1"><i class="icon vaccinated"></i></span>
          <span ng-if="card.tattooed == 1"><i class="icon ion-radio-waves"></i></span>
        </div>
        <p>
          <span ng-if="card.sex == 'male'">Né</span>
          <span ng-if="card.sex == 'female'">Née</span>
           le {{card.birthDate | date:'dd/MM/yyyy'}}
        </p>
        <p>{{card.description}}</p>
        <p class="pull-right">{{card.city}}</p>
        <div class="text-center">
          <a class="icon-cat-ok button btn-rounded" ui-sref="tab.menuMessages.newMessage({owner: card.owner.username})"></a>
        </div>
      </td-card>
    </td-cards>
    <div ng-show="noCards" class="no-cards">
        Pas d'annonce correspondant à vos critères !
    </div>
  </ion-content>
</ion-view>
