<ion-view>
  <ion-content>
    <div id="bandeau-home" class="bar-header row padding">
      <div class="col col-25 item-small-image">
        <img src="img/little-cat.png" class="">
      </div>
      <div class="col col-75">
        <img src="img/titre.png" class="title-image">
        <h2 class="subtitle">Un chat pour vous</h2>
      </div>
    </div>
    <div class="main padding text-center">
      <p class="padding blue" ng-if="role == 'adopter'">
        L'adoption est un acte qui vous engage pour de nombreuses années.<br>
        Elle doit être réfléchie, votre nouvel animal de compagnie aura besoin d'attention, de soin et d'amour.
      </p>
      <p class="padding blue" ng-if="role == 'owner'">
        Le sevrage du chaton est une étape primordiale pour le bon développement de l'animal.<br>
        Il ne doit pas débuter avant ses quatre semaines et doit se poursuivre un mois.<br>
        Ne séparez pas la mère et ses petits trop tôt !
      </p>
      <img src="img/chaton.jpg" class="img-home">
    </div>
  </ion-content>
</ion-view>

