<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Accueil" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profil" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tab.profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messages" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" ui-sref="tab.menuMessages.messages">
    <ion-nav-view name="tab-menuMessaging"></ion-nav-view>
  </ion-tab>

  <ion-tab hidden="{{isOwner}}" title="Annonces" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" ui-sref="tab.tabAdverts">
    <ion-nav-view name="tab-adverts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
