<ion-view view-title="Connexion" hide-back-button="true">
  <ion-content>
    <div id="bandeau-home" class="bar-header row">
      <div class="col col-25 item-small-image">
        <img src="img/little-cat.png" class="">
      </div>
      <div class="col col-75">
        <img src="img/titre.png" class="title-image">
        <h2 class="subtitle">Un chat pour vous</h2>
      </div>
    </div>

    <div class="padding">
      <form name="loginForm" ng-submit="loginUsername(loginForm)" class="list card no-margin">
        <ion-input class="item item-input item-stacked-label" >
          <ion-label >Pseudo</ion-label>
          <input type="text" name="username" placeholder="Votre pseudo..." ng-model="data.username" required>
          <p class="help-block" ng-show="loginUsername.username.$invalid && !loginUsername.username.$pristine">
            Veuillez entrer un pseudonyme valide.</p>
        </ion-input>

        <ion-input class="item item-input item-stacked-label" >
          <ion-label >Mot de passe</ion-label>
          <input type="password" name="password" placeholder="Votre mot de passe..." ng-model="data.password" required>
          <p class="help-block" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">
            Veuillez saisir votre mot de passe.</p>
        </ion-input>

        <ion-input class="item-input padding">
          <input type="submit" class="button button-positive button-block" value="Se connecter"  ng-disabled="loginForm.$invalid"/>
        </ion-input>
      </form>

      <a ui-sref="signup" class="button button-positive button-clear button-block no-margin">
        S'inscrire
      </a>

    </div>

  </ion-content>
</ion-view>
