<ion-view>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        {{user.username}}
      </div>
      <div class="iem item-text-wrap">
        <div class="item">
          Adresse email : {{user.email}}
        </div>
      </div>

      <!--<div class="item-divider item">
        Notifications
      </div>
      <div class="item item-text-wrap">
        <ul class="list">
          <li class="item item-toggle">
            Nouveau message
            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-model="user.notifPreferences.messageNotif">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
          <li class="item item-toggle">
            Nouvelle annonce correspondant à vos critères
            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-model="user.notifPreferences.newResultNotif">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ul>
      </div>-->

    </div>
  </ion-content>
</ion-view>
