<ion-view view-title="Connexion" hide-back-button="true">
  <ion-content>
    <div id="bandeau-home" class="bar-header row">
      <div class="col col-25 item-small-image">
        <img src="img/little-cat.png" class="">
      </div>
      <div class="col col-75">
        <img src="img/titre.png" class="title-image">
        <h2 class="subtitle">Un chat pour vous</h2>
      </div>
    </div>

    <div class="padding">
      <form novalidate name="signupForm" ng-submit="createUser()" class="list card no-margin">
        <ion-input class="item item-input item-stacked-label"/>
        <ion-label>Pseudo</ion-label>
        <input type="text" name="lastName" placeholder="Votre pseudo..." ng-model="data.username"
               ng-required="true" ng-minlength="2" ng-maxlength="20" />
        <p ng-show="signupForm.lastName.$invalid && !signupForm.lastName.$pristine" class="help-block" >Veuillez entrer un pseudo valide.</p>
        </ion-input>

        <ion-input class="item item-input item-stacked-label"/>
        <ion-label>Email</ion-label>
        <input type="email" name="email" placeholder="Votre adresse email..." ng-model="data.email" ng-required="true"/>
        <p class="help-block" ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">Veuillez entrer une adresse email valide.</p>
        </ion-input>

        <ion-input class="item item-input item-stacked-label"/>
        <ion-label>Mot de passe</ion-label>
        <input type="password" name="password" placeholder="Votre mot de passe"
               ng-model="data.password" ng-required="true">
        </ion-input>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Vous inscrivez-vous pour</span>
          <ion-list>
            <ion-radio ng-model="data.role" ng-value="'owner'">Publier une annonce ?</ion-radio>
            <ion-radio ng-model="data.role" ng-value="'adopter'">Chercher un chat à adopter ?</ion-radio>
          </ion-list>
        </label>
        <ion-input class="item-input padding">
          <input type="submit" class="button button-positive button-block" value="S'inscrire"
                 ng-disabled="signupForm.$invalid"/>
        </ion-input>
      </form>
    </div>

  </ion-content>
</ion-view>
