@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ionic-body, body {
  font-family: 'open_sansregular'
}

.blue {
  background-color: rgba(45, 126, 178, 0.5);
}

.btn-rounded {
  border-radius: 25px;
}

.all-width {
  width: 100%;
}

.pull-right {
  text-align: right;
}

/* Home */
#bandeau-home {
  background-image: linear-gradient(white, #2d7eb2);
  height: 120px;
}

.item-small-image > img {
  max-width: 100%;
  height: auto;
  padding-left: 10px;
  float: left;
}

.title-image {
  width: 100%;
  padding-top: 5%;
}

.subtitle {
  font-size: large;
  margin: 0;
  font-family: cursive;
  font-style: italic;
}

.img-home {
  width: 50%;
}

/* Icons */
.small-cat {
  background-image : url('../img/icons/cat-icon-min.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.big-cat {
  background-image : url('../img/icons/cat-icon-max.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 40px;
  height: 40px;
}

.vaccinated {
  background-image: url(../img/icons/vaccine.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
}

/* Adverts */
.sec-tabs-view {
  bottom: 100px;
}

/* Add advert */
.example-image {
  width: 100%;
  height: auto;
  opacity: 0.5;
  border: 1px solid lightgray;
}

button {
  margin-bottom: 5%;
}

button > i {
  font-size: 150%;
}


/* List adverts */
.secundary > .tab-nav.tabs {
  bottom: 49px;
}

td-cards {
  display: block;
}

td-card {
  position: absolute;
  left: 50%;
  margin-top: 10%;
  margin-bottom: 25px;
  margin-left: -150px;
  width: 300px;
  height: auto;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;

  background-image: linear-gradient(white, #2d7eb2);
}

td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}


td-card .image {
  position: relative;
}

td-card img {
  max-width: 100%;
  border-radius: 6px;
}

.yes-text {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: rgb(111, 250, 111);
  opacity: 0;
}
.no-text {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: rgb(255, 115, 115);
  opacity: 0;
}

.fade {
  -webkit-transition: 0.2s opacity linear;
  transition: 0.2s opacity linear;
  opacity: 0;
}

.icon-cat-delete {
  background-image : url('../img/icons/cat-icon-delete.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.icon-cat-ok {
  background-image : url('../img/icons/cat-icon-ok.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.sweap-btn {
  position: absolute;
  top: 9%;
  z-index: 999;
  height: 30px;
  width: 50px;
  line-height: 30px;
  text-align: center;
}

.sweap-btn-right {
  right: 0;
  background-color: rgba(255, 0, 0, 0.3);
}

.sweap-btn-left {
  left: 0;
  background-color: rgba(0, 112, 0, 0.3);
}

.no-cards {
  width: 300px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #999;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border-radius: 6px;
  background-image: linear-gradient(white, #2d7eb2);
  margin: auto;
  text-align: center;
  margin-top: 50%;
}

/* Messaging */
#to > span {
  width: auto;
}

#to > input {
  background: none;
}

#no-message {
  background-image : url('../img/sleeping-cat.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  opacity: 0.5;
}
